# 忽略 Python 快取
__pycache__/
*.py[cod]
*$py.class

# 忽略程式自動下載的龐大環境與模型
engine_ffmpeg/
runtime_python/
ai_libraries/
ai_models/

# 忽略產出的影音檔案與暫存檔
output/
*.zip
*.rar
*.mp4
*.mp3
*.mkv
*.wav
*.flac

# 忽略所有執行檔
*.exe